/* SIBLING FADE: fade out siblings around a hovered item */

.sibling-fade { visibility: hidden; }
/* Prevents :hover from triggering in the gaps between items */

.sibling-fade > * { visibility: visible; }
/* Brings the child items back in, even though the parent is `hidden` */

.sibling-fade > * { transition: opacity 150ms linear 100ms, transform 150ms ease-in-out 100ms; }
/* Makes the fades smooth with a slight delay to prevent jumps as the mouse moves between items */

.sibling-fade:hover > * { opacity: 0.4; transform: scale(0.9); }
/* Fade out all items when the parent is hovered */

.sibling-fade > *:hover { opacity: 1; transform: scale(1); transition-delay: 0ms, 0ms; }
/* Fade in the currently hovered item */







/* Presentational Styles */
html { display: flex; height: 100%;}
body { 
  background-image: url(./laboratorio_projetos_adelina.jpg); 
  background-repeat: no-repeat;
  padding: auto;
  max-width: 40em;
  margin: auto;
}

.sibling-fade {
  display: flex;
  flex-wrap: wrap;
}

.sibling-fade > * {
  background: white;
  padding: 1em;
  flex: auto;
  margin: 0.3em;
  text-align: center;
  color: black;
  font-size: 1.5em;
  text-decoration: none;
}

a:link{
  text-decoration:none;
  color:black;
  }

#espaco {
  text-align: center;
}
div {
  font-family: 'Abel', sans-serif;
  /*width: 1200px;*/
  text-align: justify;
}

#tres :hover{
  text-decoration: none;
  color: #df680f;
}

#tres {
 text-align: center;
 text-decoration:none;
  color:#6b6b6b;
}

button {
  background-color: #df680f;
  border-radius: 25px;
  font-size: large;
  width: 200px;
  height: 50px;
  border: 0px;
}

#div1 {
  color: #6b6b6b;
  text-align: center;
}

#div2 {
  /*padding: auto;*/
  color: #6b6b6b;
  text-align: center;
}

.footer{
  align-items: center;
  text-align: center;
}

/**/